node_modules/
dist/
coverage/
.env
*.log
.DS_Store
apps/web/.angular/
# apps/web/src/assets/items/
packages/database/generated/
apps/tibiawiki-importer/assets/
apps/tibiawiki-importer/exports/apps/tibiawiki-importer/data/wiki-items-raw/

doc/tibia_dat/Tibia.spr
doc/tibia_dat/Tibia.dat